* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

.container {
  background-color: #f8fbfb;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 20rem;
  position: relative;
}

.circle {
  height: 2.5rem;
  width: 2.5rem;
  border: 4px solid #ccc;
  background-color: #fff;
  color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: border 500ms ease, color 500ms ease;
}

.circle.active {
  border: 4px solid #60aaff;
  color: #60aaff;
}

.progress-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #ccc;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #60aaff;
  transition: width 500ms ease;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  background-color: #60aaff;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
}

button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

button:not(:disabled):active {
  transform: scale(0.95);
}
